.Input-box1 input {
    width: 680px;
    height: 45px;
    border: 2px solid rgba(163, 152, 152, 0);
    box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.05), -10px -10px 10px rgba(30, 30, 30, 0.05);
    font-size: 20px;
}